 <!DOCTYPE html>
 <html lang="en">
 <head>
    <%- include('./partials/head') %><!-- this is implement the same code which is in the location of this path -->

    
    <title>Homepage</title>
 </head>
 <body>
    <%- include('./partials/nav') %>
    <%=JSON.stringify(user)  %>
    <%- include('./partials/script') %>
    
    
 </body>
 </html>